ENVIRONMENT=development

# Telegram
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_PHONE=

# Ruleset
RULESET_PATH=ruleset.yml

# Storage
STORAGE_PATH=.data/badger

# Web (adapters/httpserver/std)
WEBSERVER_HOST=0.0.0.0
WEBSERVER_PORT=7070

# gRPC
GRPC_HOST=0.0.0.0
GRPC_PORT=50051
