ENVIRONMENT=development

# Monitoring (platform/monitoring)
LOG_PROVIDER=dev
LOG_LEVEL=debug

# Telegram
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_PHONE=
# TELEGRAM_DATABASE_DIR=.data/tdlib
# TELEGRAM_FILES_DIR=.data/tdlib-files
# TELEGRAM_SYSTEM_LANG=en
# TELEGRAM_DEVICE_MODEL=Server
# TELEGRAM_LOG_VERBOSITY=0
# TELEGRAM_USE_FILE_DB=true
# TELEGRAM_USE_CHAT_INFO_DB=true
# TELEGRAM_USE_MESSAGE_DB=true
# TELEGRAM_USE_SECRET_CHATS=false
# TELEGRAM_SYSTEM_VERSION=
# TELEGRAM_APP_VERSION=1.0.0
# TELEGRAM_LOG_DIR=.data/tdlib-logs
# TELEGRAM_LOG_MAX_SIZE=10

# Ruleset
RULESET_PATH=ruleset.yml

# Storage
STORAGE_PATH=.data/badger

# Web (adapters/httpserver/std)
WEBSERVER_HOST=0.0.0.0
WEBSERVER_PORT=7070

# gRPC
GRPC_HOST=0.0.0.0
GRPC_PORT=50051
